.App{
  display: flex;
}

.sections{
  margin-left: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  gap: 40px;

  transition: margin-left 0.3s;
}

.navbar-collapsed .sections{
  margin-left: 64px;
}

